.inputOption {
  display: flex;
  margin-top: 15px;
  padding: 10px;
  color: gray;
  cursor: pointer;
  align-items: center;
}

.inputOption:hover {
  background-color: whitesmoke;
  border-radius: 10px;
  transition: 500ms;
}

.inputOption > h4 {
  margin-left: 5px;
}
